.login {
    background: linear-gradient(180deg, #128C7E 30vh, #dadbd3 20vh);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center ;
}

.login__container {
    padding: 70px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

.login__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login__container > .login__text {
    padding-bottom: 40px;
}

.google-btn {
    width: 184px;
    height: 42px;
    cursor: pointer;
    background-color: #4285f4;
    border-radius: 3px;
    margin-left: 35px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.google-btn > .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-icon {
    margin-top: 11px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669F2;
}

 .social-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #c7cacf;
    line-height: 0.1em;
    margin: -20px 0 20px;
    margin-right: 10%;
}

@media screen and (max-width : 450px ) {

    .login__container {
        padding-left: 35px;
        padding-right: 35px;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        margin-left: -5px;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    }
    
}